body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.section-nav {
  align-items: center;
  background-color: royalblue;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 10px;
  height: 70px;
  width: 100%;
}

.title-nav {
  color: #FFF;
  text-align: left;
}

.img-header {
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.container {
  border-radius: 5px;
  margin: 0 auto;
  width: 90%;
}

.footer {
  background-color: royalblue;
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 0 auto;
  width: 100%;
}

.text-color {
  color: #FFF;
}